[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = git://github.com/vim-scripts/pydoc.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = git://github.com/vim-scripts/ZenCoding.vim.git
[submodule "vim/bundle/manpageview"]
	path = vim/bundle/manpageview
	url = git://github.com/vim-scripts/ManPageView.git
[submodule "vim/bundle/cscope_macros"]
	path = vim/bundle/cscope_macros
	url = git://github.com/vim-scripts/cscope_macros.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/vim-scripts/Command-T.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/vim-scripts/pyflakes.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/cascading"]
	path = vim/bundle/cascading
	url = git://github.com/c9s/cascading.vim.git
[submodule "vim/bundle/colorizer"]
	path = vim/bundle/colorizer
	url = git://github.com/lilydjwg/colorizer.git
